@import "tailwindcss";
/* Estilos generales para todos los scrolls */
::-webkit-scrollbar {
  width: 8px;  /* ancho vertical */
  height: 8px; /* alto horizontal */
}

::-webkit-scrollbar-track {
  background: #1e293b;  /* color del fondo */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* color del "thumb" */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* al pasar el mouse */
}
